body
{
	background: white;
	color: black;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font: 10pt Verdana;
}

h1
{
	text-align: center;
	text-decoration: underline;
}

form
{
	margin: 0;
}

blockquote
{
	font-size: smaller;
	font-style: italic;
	margin-left: 0;
	margin-right: 0;
}
blockquote, .quote
{
	font-family: "courier new", courier, serif;
	background: #DEDEDE url("quote.gif") no-repeat top right;
	margin: 0.5em;
	padding: 0.5em;
	padding-left: 1em;
	padding-top: 1em;
}

caption
{
	padding: 0 0 10px;
	font: bold 120% Arial, sans-serif;
}

pre
{
	border: 2px solid #cccccc;
	background: #e7e7e7;
	padding: 1ex;
	margin-left: 3em;
	color: #000066;
	/*min-width: 600px;*/
}

dd
{
	padding: 1ex;
	margin-left: 3em;
	margin-bottom: 1em;
}


/* These are different kinds of <pre> sections */
.bnf {	/* grammar */
	background-color: #fefefe;
	color: #000066;
}

.ddoccode {
	background-color: #dedede;
	color: #000066;
}

.console { /* command line console */
	background-color: #f7f7f7;
	color: #181818;
}

.moddeffile { /* module definition file */
	background-color: #efeffe;
	color: #010199;
}

.scini { /* sc.ini configuration file */
	background-color: #feeffe;
	color: #111199;
}

.d_code { /* D code */
	background-color: #e7e7e8;
	color: #000066;
}

.d_code2 { /* D code */
	background-color: #e7e7e8;
	color: #000066;
	min-width: 10px;
	margin-left: 0em;
}

.ccode { /* C code */
	background-color: #eeddee;
	color: #000066;
}

.cppcode { /* C++ code */
	background-color: #efddef;
	color: #000066;
}

.cppcode2 { /* C++ code */
	background-color: #efddef;
	color: #000066;
	min-width: 10px;
	margin-left: 0em;
}

.PostingBody { /* newsgroup posting */
	border: 0;
	margin: 0;
	background-color: #ddeded;
	color: #000066;
	margin-left: 0em;
	min-width: 300px;
}
.PostingQuote { /* quote inside newsgroup posting */
	border: 1px solid #666666;
	font-size: 90%;
	background-color: #cceded;
	color: #000022;
	margin-left: 0em;
	min-width: 300px;
}


/* Elements of D source code text */
.d_comment { color: green; }
.d_string { color: red; }
.d_keyword { color: blue; }
.d_psymbol { text-decoration: underline; }
.d_param { font-style: italic; }


div#heading
{
	border-bottom: 2px solid black;
	padding-bottom: 1ex;
}
div#lastupdate
{
	font-size: smaller;
	font-style: italic;
}

div#headingNav
{
	padding-bottom: 4px;
}
div#headingNav ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	/*margin-bottom: 1px;*/
}
div#headingNav li
{
	display: block;
	float: right;
	padding-right: 1ex;
}
div#headingNav a
{
	text-decoration: none;
	display:block;
	background-color: #c6c8eb;
	color:black;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 1px solid #dddddd;
	padding: 3px 12px 3px 8px;
/*
	padding: 0;
	margin: 0;
	height:0;
*/
}
div#headingNav a:hover
{
	background-color: #dddddd;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
}

div#searchbox
{
	padding-top: 3px;
	text-align:center;
}

div#toctop
{
	font-size: larger;
	text-align:center;
}

div#Posting
{
	border: 2px solid #cccccc;
	margin-bottom: 1em;
}
div#PostingHeading
{
	font-weight: bold;
	font-size: larger;
	background-color: #dddddd;
}
div#PostingHeading a
{
	text-decoration: none;
}
div#PostingFooting
{
	font-size: smaller;
	background-color: #dddddd;
}
div#PostingTOC
{
	font-size: smaller;
}
div#PostingTOC li
{
	margin-left: 1em;
	border-width: 1;
}

/* For table based layout */
td.toc
{
	background-color:#eeeeee;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.toc h2
{
	font-size: 120%;
	margin-bottom: 0px;
}
.toc ul
{
	list-style-type: none;
	margin-top: 0px;
	margin-left: 1ex;
	margin-right: 1ex;
	margin-bottom: 1ex;
	padding:0;
}

/* For CSS based layout */
div#navigation
{
	font-size: smaller;
	float:left;
	width:13em;
	/*background-color:#eeeeee;*/
	/*border-right: 1px solid black;*/
	padding-top: 1em;
}
.navblock
{
	background-color:#c6c8eb;
	border: 1px solid black;
	margin-top: 0;
	margin-bottom: 1ex;
	padding-top: 3px;
	padding-left: 3px;
}
.navblock h2
{
	font-size: 120%;
	padding-top: 0px;
	margin-top: 0;
	margin-bottom: 0px;
}
div#navigation ul
{
	list-style-type: none;
	margin-top: 0px;
	margin-left: 1ex;
	margin-right: 1ex;
	margin-bottom: 1ex;
	padding:0;
}
div#navigation li
{
	margin:0;
	padding: 3px 0 3px 8px;
}
div#navigation a
{
	text-decoration: none;
	display:block;
	margin: 0;
	background-color: #c6c8eb;
	color: black;
	/*
	border-top: 1px solid #dddddd;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #dddddd;
	*/
}
div#navigation a:hover
{
	background-color: #dddddd;
}
/*
div#navigation a:active
{
	padding: 2px 13px 4px 7px;
	background-color: #444444;
	color: #eeeeee;
	border-top: 1px solid #333333;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #333333;
	height:0;
}
*/


div#content
{
	margin-left:13em;
	/*border-left: 1px solid black;*/
	padding-top: 1em;
	padding-left: 1em;
}
div#copyright
{
	clear:both;
	border-top: 2px solid black;
	font-size: smaller;
	margin-bottom: 2ex;
	margin-top: 1px;
	padding-top: 3px;
}


/* These are for the changelogs */
div#version
{
	border-top: 1px solid black;
	font-size: smaller;
}
div#bugsfixed
{
}
div#whatsnew
{
}


/* These are for comparison.html */
table.comp { /* "comparison with D": table */
  background-color:#f0f0f0;
}
td.compNo {  /* comparison with D: "NO" */
  background-color:red;
  text-align:center;
}
td.compYes {  /* comparison with D: "YES" */
  background-color:#00FF00;
  text-align:center;
}

